textarea {
  resize: none;
}

div {
  display: inline-block;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.popUpDivider {
  width: auto;
  height: 5px;
  display: inline-block;
}

.pokemonPopUp {
  padding: 10px;
}

.deleteButton {
  color: white;
  background-color: #f44336;
}
